<div class="container" fxLayout="row">
  <aside fxFlex="20%">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <button mat-button>Inicio</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button>Usuarios</button>
      </mat-list-item>
    </mat-list>
  </aside>
  <main fxFlex="80%">
    <router-outlet></router-outlet>
  </main>
</div>
